body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
}

.p3 {
  font-size: 0.8rem;
}

.gray {
  color: rgba(127, 127, 127, 0.65) !important;
}

.date {
  margin-bottom: -10px;
}


@font-face {
  font-family: geist;
  src: url(Geist-Black.otf);
  font-weight: 800;
}

@font-face {
  font-family: geist;
  src: url(Geist-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: geist;
  src: url(Geist-SemiBold.otf);
  font-weight: 600;
}


@font-face {
  font-family: geist;
  src: url(Geist-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: geist;
  src: url(Geist-Regular.otf);
  font-weight: 400;
}


p {
  font-family: geist;
}